@import url('https://fonts.googleapis.com/css?family=Tangerine');

/* Utility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: black;
}


.imp{
  background: linear-gradient(55deg, #c2afa9 0%, #b3c9c4 51%, #d6ebd5 85%);
}


#home {
  height: 100vh;
  position: relative;
}

#home .home-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-content h1 {
  text-transform: capitalize;
  font-weight: 900;
  color: #FFF;
}

.home-content h4 {
  color: #FFF;
}

#page-wrapper {
  background-color: #F9F9FA;
}

.page-wrapper-content {
  text-align: center;
}
.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}


.section-8{
  background-color: #293a48;
  bottom: 0;
  width: 100%;
  color: white;
}

.section-1{
  background-color: #293a48;
  bottom: 0;
  width: 100%;
  color: #e6ebe7;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
}

/* Profile */
.title {
  font-size: 50px;
  color: #696363;
  text-align: center;
  margin-bottom: 1rem;
}

.content {
  text-align: center;
  width: auto;
  font-size: 20px;
}

.quote {
  font-family: 'Tangerine', serif;
  font-size: 35px;
  margin-bottom: 0.5rem;
}

/* Anchor Styles */
a {
  text-decoration: none;
  color: #8b9493;
}

.navbar a {
  color: white;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

a:hover {
  color: grey;
}

/* Text Styles */
.text-center {
  text-align: center;
}

.text-small {
  font-size: 15px;
}

/* Project Cards */
.card {
  padding: 1rem;
  border: rgb(29, 25, 25) 1px solid;
  margin: 0.7rem 0;
}

.card-title {
  font-size: 25px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 1px;
}

.card-text {
  text-align: center;
  font-family: cursive;
  font-size: 15px;
}

/* Grids */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
}

/* Button */

.btn {
  display: inline-block;
  background: #333333;
  color: #f4f4f4;
  padding: 0.3rem 1rem;
  font-size: 1.0rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:hover {
  opacity: 2.0;
}

/* Navbar */
.navbar {
  justify-content: space-between;
  position: fixed;
  padding: 0.2rem 2rem;
  width: 100%;
  border-bottom: solid 1px white;
  opacity: 0.9;
}

.nav-menu {
  float: right;
  padding-top: 1rem;
}

.nav-toggle {
  display: none;
  float: right;
  padding-top: 1rem;
  cursor: pointer;
  color: white;
}

/* Sections */
section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Images */
.avatar {
  height: 300px;
  border-radius: 50%;
  width: 200px;
}

.project-figure {
  margin: 0 auto 1rem auto;
  max-height: 256px;
  max-width: 256px;
  text-align: center;
}

/* Headings */
.heading {
  font-size: 35px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading-section {
  color: #333333;
}

.heading-navbar {
  color: #ffffff;
}

.heading-name {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 1px;
}

/** Responsive CSS changes */
@media screen and (max-width: 768px) {

  .nav-menu {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .activate {
    display: block;
  }

  .grid-2,
  .grid-1-3 {
    grid-template-columns: 1fr;
  }

  .navbar {
    text-align: center;
  }
}

.container-skills {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
#pp{
text-align: left;
}

.html {width: 80%; background-color: grey;}
.css {width: 70%; background-color: #113a45;}
.js {width: 60%; background-color: grey;}
.cc {width: 80%; background-color: #113a45;}
.py {width: 90%; background-color: #113a45;}
.sql {width: 70%; background-color: #113a45;}
.c {width: 65%; background-color: grey;}


.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  opacity: 0.9;
  background: grey;
}



.facebook {
  background: #3B5998;
  color: white;
}

.phone {
  background: #0cf20c;
  color: white;
}

.github {
  background: black;
  color: white;
}


.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.navbar {
    background-color: #293a48;
}



/* Style tab links */
.tablink {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color:  #293a48;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tablink1 {
  background-color: #DB4437;
}
.tablink2 {
  background-color: #F4B400;
}
.tablink3 {
  background-color: #0F9D58;
}
.tablink4 {
  background-color: #4285F4;
}

#lang {background-color: #e0bbb6;}
#data {background-color: #e4e6ca;}
#web {background-color: #b4deb5;}
#concept {background-color: #b6dce0;}

.list-group-item{
  background-color: #e4e6ca;
  color: black;
}
#one{
  background-color: #b4deb5;
  color: black;
}
#two{
  background-color: #b6dce0;
  color: black;
}

#expid{
  text-align: left;
}

.zoom{
  transition: transform .2s; /* Animation */}
.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #293a48;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}





/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3%;
  height: 33.3%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.port{
  background-color: #b9ba8d;
  padding: 8px; 
}



.event {
  position: relative;
}

.event+.event {
  margin-top: 60px;
}

.event:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0px;
  bottom: 0px;
  width: 4px;
  background-color: #c21d11;
}

.event:last-child:after {
  height: 60px;
}

.event+.event:before {
  content: "";
  position: absolute;
  left: 60px;
  height: 60px;
  top: -60px;
  width: 4px;
  background-color: #c21d11;
}

.event .event-day {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #c21d11;
  z-index: 10;
}

.event .event-day>div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event .event-day .day {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.event .event-day .year {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
}

.event .event-content {
  padding-left: 160px;
  min-height: 120px;
}

.event .event-time {
  font-size: 14px;
}

.event .event-time i {
  color: #c21d11;
}

.event .event-content a {
  color: #c21d11;
}









ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 40px;
}
ul.timeline > li:before {
    content: ' ';
    background: grey;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #c21d11;
    left: 2px;
    width: 40px;
    height: 40px;
    z-index: 400;
}
#lione{
  list-style-type: none;
}

